@using MedPortal.Core.Models
@model IEnumerable<CartProductViewModel>

@*<h1>User Products</h1>*@

<p>
    <partial name="_CreateButtonPartial" model="0" />
</p>

<style>
    p.solid {
        border-style: solid;
    }

    p.groove {
        border-style: groove;
    }

    .danger {
        border-color: #f44336;
        color: red
    }

        .danger:hover {
            background: #f44336;
            color: white;
        }

    .info {
        border-color: #2196F3;
        color: dodgerblue
    }

        .info:hover {
            background: #2196F3;
            color: white;
        }

  
</style>
 @if(!Model.Any() )
 {
    <h1>MedPortal Cart</h1>
    <h2>Your Cart is empty!</h2>
    <img style=" position: relative;  left: 60px; top: 0px;  z-index: -1;" src="https://cdn-icons-png.flaticon.com/512/102/102661.png">                         
 }      
<div class="text-center row">
    @foreach (var product in Model)
    {
      
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@product.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@product.Name</h5>
                <p class="groove">Description: @product.Description</p>
                @if (product.Prescription == false)
                {
                    string pres = "It is not Reqired";
                    <p class="groove">Prescription: @pres</p>
                }
                else
                {
                    string pres = "It is Reqired";
                    <p class="groove">Prescription: @pres</p>
                }
                <p class="groove">Manifacture: @product.ManifactureName</p>
                <p class="groove">Category: @product.CategoryName</p>
                <p class="solid">Price: @product.Price lv.</p>
                <p class="solid">Quantity: @product.Quantity</p>
                <p class="solid">Ordered From: @product.PharmacyName</p>

                <a asp-controller="Pharmacy" asp-action="RemoveProductFromCart" asp-route-id="@product.CartProductId" class="btn danger">Remove from Cart</a>

          

            </div>

        </div>

    }
</div>
