@model AddPharmacyViewModel
<html>
<style>
    

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
        input[type=submit]:hover {
            background-color: #45a049;
        }

</style>

<body>
    <h3>Add Pharmacy</h3>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
                <p class="text-danger">
                    @ViewBag.AlredyExistError
                </p>
                <p class="text-danger">
                    @ViewBag.TimetError
                </p>
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                    <input asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="Pharmacy Name.." />                    
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Location" class="form-label">Location</label>
                    <input asp-for="@Model.Location" class="form-control" aria-required="true" placeholder="Pharmacy Location.." />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.OpenTime" class="form-label">OpenTime</label>
                    <input asp-for="@Model.OpenTime" class="form-control" aria-required="true" placeholder="Open Time format is hh:mm" />
                <span asp-validation-for="OpenTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CloseTime" class="form-label">CloseTime</label>
                    <input asp-for="@Model.CloseTime" class="form-control" value="" placeholder="Close Time format is hh:mm" />
                <span asp-validation-for="CloseTime" class="text-danger"></span>
            </div>
         
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>

</body>
</html>



