@using MedPortal.Core.Models
@model IEnumerable<PharmacyViewModel>

@{
    ViewBag.Title = "Index";
    
}


<h1>Pharmacy List</h1>

<p>
    <partial name="_CreateButtonPartial" model="0" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenTime)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.CloseTime)
                </td>
                <td>
                    <a asp-controller="Pharmacy" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Update Pharmacy</a>
                    <a asp-controller="Pharmacy" asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-outline-secondary btn-sm">Delete Pharmacy</a>
                    <a asp-controller="Pharmacy" asp-action="PharmacyProducts" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Add Product to Pharmacy</a>
                    @{
                      
                    }
                </td>
            </tr>
        }
    </tbody>
</table>






