
@using MedPortal.Core.Models
@model IEnumerable<CategoryViewModel>
 
@{
    var ID = ViewBag.ID;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }
    </style>
</head>
<body>

    <h2>Category List</h2>
  
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <p>
        <partial name="_CreateButtonCategoryPartial" model="0" />
    </p>

    <table id="myTable">
        <tr class="header">
            <th style="width:60%;">Name</th>           
        </tr>

        @foreach (var item in Model)
        {
            <tr>         
            <td>@item.Name</td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Update Category</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Delete Category</a>

                </td>
        </tr>
        }
        
       
    </table>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</body>
</html>








@*@{
    ViewBag.Title = "All";
    var ID = ViewBag.ID;
}


<h1>Category List</h1>

<p>
    <partial name="_CreateButtonPartial" model="0" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>              
                <td>
                    <a asp-controller="Pharmacy" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Update Pharmacy</a>
                    <a asp-controller="Pharmacy" asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-outline-secondary btn-sm">Delete Pharmacy</a>
                
                </td>
            </tr>
        }
    </tbody>
</table>
*@